@model List<NICO.Entities.UserType>

@* <a href="new/create">Add Data</a> *@

<div class="list-heading">
        <h1>List of UserType</h1>
        <a href="new/create" class="button">
            <span class="button__text">Add Item</span>
            <span class="button__icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg">
                    <line y2="19" y1="5" x2="12" x1="12"></line>
                    <line y2="12" y1="12" x2="19" x1="5"></line>
                </svg>
            </span>
        </a>
    </div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    
 @foreach(var userType in Model){
           <tr>
                <td>@userType.Id</td>
                <td>@userType.Name</td>
                @* <td>@userType.Author</td> *@
                <td>
                  <a class="btn btn-warning" href="new/update/@userType.Id">Update</a>
                  <a class="btn btn-danger" href="new/delete/@userType.Id">Delete</a>
                </td>
           </tr>
    }
  </tbody>
</table>